* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* color variables */
    /* background colors */
    --medium-grey: #1F222B;
    --dark-grey: #191A1F;
    --light-grey: #303746;

    /* colored accents */
    --purple: #6D78EB;
    --dark-purple: #464D8B;
    --light-purple: #8EA1FF;
    
    --white: #FEFFFF;
    --off-white: #C4C6C7;

    /* card image placeholder colors */
    --card-one: #DBEAFE;
    --card-two: #D1FAE5;
    --card-three: #FEE2E2;
    --card-four: #EDE9FE;
    --card-five: #FEF3C7;
    --card-six: #E0F2FE;

    /* font size variables */
    --font-xs: 12px;
    --font-s: 16px;
    --font-m: 18px;
    --font-l: 24px;
    --font-xl: 28px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-m);
    background: var(--dark-grey);
}

header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    height: 90px;
    background-color: var(--medium-grey);
}

button {
    all: unset;
}

a {
    text-decoration: none;
}

/* dropdown menu styling and functionality */
.dropdown .content a {
    min-height: 36px;

    font-size: var(--font-s);
    text-align: left;
    padding: 0 12px;

    display: flex;
    align-items: center;
    gap: 3px;

    border-radius: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown .content a img {
    padding-right: 15px;
}

.dropdown .content a:hover {
    background: #303746;
    background: linear-gradient(90deg,rgba(48, 55, 70, 1) 0%, rgba(48, 55, 70, 0.5) 50%, rgba(237, 221, 83, 0) 100%);
}

.dropdown a:visited {
    color: var(--white);
}

.dropdown a:active {
    opacity: 0.9;
    transform: scale(0.95);
}

.dropdown .divider {
    height: 1px;
    margin: 0 8px;
    background-color: var(--light-grey);
}

.dropdown .content {
    display: none;
    flex-direction: column;
    gap: 10px;

    right: 30px;
    top: 80px;

    position: absolute;
    min-width: 195px;
    min-height: 220px;

    border: 1px solid var(--light-grey);
    border-radius: 18px;
    padding: 8px 7px;

    background-color: var(--medium-grey);
}

#dropdown-toggle:checked ~ .content {
    display: flex;
    
}

#dropdown-toggle:checked ~ #accordion-button {
    background-color: var(--purple);
    color: var(--medium-grey);
}

#dropdown-toggle:checked ~ #accordion-button .menu-grey {
    display: block;
}

#dropdown-toggle:checked ~ #accordion-button .menu-purple {
    display: none;
}

/* proper alignment and position of logo */
#udemy-logo {
    display: flex;
    height: 45px;
    padding: 0px 20px;
}

/* left menu styling (explore, subscribe) */
.left-menu {
    display: flex;
    gap: 35px;
}

/* hover styling of navigation link text to the left of search bar */
.nav-link {
    position: relative;
    color: var(--purple);
    transition: 0.3s ease;
}

.nav-link::after {
    content: "";
    
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 100%;
    height: 2px;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;

    background-color: var(--purple);
    transition: transform 0.3s ease;
}

.nav-link:hover {
    color: var(--light-purple);
}

.nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* search bar styling */
form {
    margin-right: auto;
    flex: 0 1 1000px;
    min-width: 275px;
}

.search-bar {
    display: flex;
    align-items: center;
    
    min-height: 50px;
    margin: 0 40px;

    gap: 10px;
    padding: 10px;
    
    border: 1px solid var(--purple);
    border-radius: 100px;
}

.search-bar:hover {
    background-color: var(--light-grey);
}

.search-bar:focus-within {
    border: 1px solid var(--light-purple);
}

.search-bar input {
    font-family: inherit;
    font-size: var(--font-m);
    color: var(--purple);

    min-width: 0;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.search-bar input::placeholder {
    color: var(--dark-purple);
    font-size: var(--font-xs);
}

.search-bar img {
    width: 30px;
    padding-left: 3px;
}

/* proper spacing of buttons to the right of search bar */
.right-menu {
    display: flex;
    gap: 15px;
    padding-right: 30px;
}

/* adding button styling on header buttons */
.button {
    position: relative;
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--purple);
    border-radius: 10px;
    font-weight: 700;
    transition: 0.4s ease;
}

.button:visited {
    color: var(--purple);
}

/* log in button hover */
#log-in {
    min-height: 50px;
    min-width: 120px;
    
    color: var(--purple);
    padding: 5px 20px;
}

#log-in:hover {
    background-color: var(--purple);
    color: var(--medium-grey);
}

#log-in:active {
    transform: scale(0.90);
}

/* sign up button hover */
#sign-up {
    min-height: 50px;
    min-width: 120px;

    background-color: var(--purple);
    color: var(--medium-grey);

    padding: 5px 20px;
}

#sign-up:hover {
    background-color: var(--medium-grey);
    color: var(--purple);
}

#sign-up:active {
    transform: scale(0.90);
}

/* language button hover */
#lang-button {
    min-height: 50px;
    min-width: 50px;

    padding: 10px;
}

#lang-button:hover {
    background-color: var(--purple);
    color: var(--medium-grey);
}

#lang-button:active {
    transform: scale(0.90);
}

.globe-grey, #lang-button:hover .globe-purple {
    display: none;
}

.globe-purple, #lang-button:hover .globe-grey {
    display: block;
}

#accordion-button {
    display: none; 
    overflow: hidden;
    height: 50px;
    width: 50px;

    padding: 8px;
}

#accordion-button:hover {
    background-color: var(--purple);
    color: var(--medium-grey);
}

.menu-grey, #accordion-button:hover .menu-purple {
    display: none;
}

.menu-purple, #accordion-button:hover .menu-grey {
    display: block;
}

/* recommendations section styling */
.recommended {
    color: var(--white);

    min-height: 170px;
    
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;

    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.section-title {
    font-size: var(--font-xl);
    color: var(--white);
}

.recommended-tags {
    font-size: var(--font-s);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.recommended-tags .tag {   
    display: flex;
    align-items: center;
    gap: 8px;
    
    min-height: 40px;
    padding: 6px 20px 6px 12px;
    
    border: 1px solid var(--light-grey);
    border-radius: 100px;

    transition: 0.2s ease;
}

.recommended-tags .tag:hover {
    cursor: pointer;
    background-color: var(--medium-grey);
}

.recommended-tags .tag img {
    height: 18px;
}

/* main content styling */
main {
    background-color: var(--medium-grey);
    width: 100%;
    padding-bottom: 40px;
}

/* filter content styling */
.filter-menu {
    color: var(--white);
    
    max-width: 1500px;
    margin: 0 auto;
    padding: 28px 20px;
    gap: 10px;

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.right-filters {
    font-size: var(--font-s);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.right-filters .filter {    
    min-height: 40px;
    padding: 0 18px 0 15px;
    
    display: flex;
    align-items: center;
    gap: 8px;
    
    border: 1px solid var(--dark-purple);
    border-radius: 100px;

    transition: 0.2s ease;
}

.right-filters .filter:hover {
    cursor: pointer;
    background-color: var(--light-grey);   
}

.right-filters .filter img {
    height: 25px;
}

.left-filter {
    position: relative;
    min-height: 40px;
    padding: 7px 18px;
    
    display: flex;
    text-align: right;
    align-items: center;

    gap: 8px;
    border-radius: 10px;
    transition: all 0.4s ease;
    z-index: 1;
}

.left-filter::before,
.left-filter::after {
    content: "";
    position: absolute;
    z-index: -1;
}

.left-filter:hover {
    cursor: pointer;
    color: var(--off-white);
}

.left-filter::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;

    background-color: var(--light-grey);
    border-radius: 10px;
    transition: all 0.4s ease;
}

.left-filter:hover::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.left-filter img {
    height: 15px;
}

/* card styling and positioning */
.cards {
    display: grid;

    max-width: 1504px;   
    margin: 0 auto;      
    padding: 0 22px;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;

    height: 550px;
    padding: 24px;

    background-color: var(--dark-grey);
    color: var(--white);

    border: 1px solid var(--light-grey);
    border-radius: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex: 1; 

}

.card-image {
    height: 200px;
    width: 100%;

    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 12px;
}

.card-content .title {
    font-size: var(--font-l);
    font-weight: 700;
}

.card-content .description {
    font-size: var(--font-m);
    color: var(--off-white);

    padding-top: 3px;
}

.card-content .instructor {
    font-size: var(--font-xs);
    color: var(--off-white);

    padding-top: 8px;
}

.bottom-content {
    margin-top: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 10px;
    row-gap: 6px;
}

.tags .tag {
    height: 30px;
    font-size: var(--font-xs);
    color: var(--off-white);

    border: 1px solid var(--light-grey);
    border-radius: 10px;

    padding: 5px 7px;

    transition: 0.2s ease;
}

.tags .tag:hover {
    cursor: default;
    background-color: var(--medium-grey);
}

.tags .tag img {
    position: relative;
    right: 2px;
    bottom: 1px;
    vertical-align: bottom;
}

.price-listing {
    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.price-group {
    display: flex;
    align-items: flex-end;
    gap: 15px;

    line-height: 1;
}

.price-new {
    font-size: var(--font-l);
    font-weight: 700;
}

.price-old {
    font-size: var(--font-m);
    color: var(--off-white);
    text-decoration: line-through;
}

.add-to-cart {
    position: relative;
    color: var(--purple);
    padding: 5px 10px;

    transition: all 0.4s ease;
    z-index: 1;
}

.add-to-cart:hover {
    cursor: pointer;
    color: var(--dark-grey);
}

.add-to-cart:active {
    transform: scale(0.90);
}

.add-to-cart::before,
.add-to-cart::after {
    content: "";
    position: absolute;
    z-index: -1;
}

.add-to-cart:hover {
    cursor: pointer;
    color: var(--dark-grey);
}

.add-to-cart::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;

    background-color: var(--purple);
    border-radius: 8px;
    transition: all 0.4s ease;
}

.add-to-cart:hover::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

/* coloring the placeholder images based on card number */
.one .card-image { background-color: var(--card-one); }
.two .card-image { background-color: var(--card-two); }
.three .card-image { background-color: var(--card-three); }
.four .card-image { background-color: var(--card-four); }
.five .card-image { background-color: var(--card-five); }
.six .card-image { background-color: var(--card-six); }

/* footer styling */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 30px 45px;

    font-size: var(--font-m);
    color: var(--white);
}

.footer-section-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 50px;
}

#teach-on-udemy {
    border-color: var(--white);
    color: var(--white);

    padding: 5px 10px;
    transition: 0.2s ease;
}

#teach-on-udemy:hover {
    color: var(--dark-grey);
    background-color: var(--white);

    padding: 5px 10px;
}

#teach-on-udemy:active {
    transform: scale(0.90);
}

.language-option {
    display: flex;
    align-items: center;
    gap: 6px;
}

.language-option span {
    position: relative;
    transition: 0.3s ease;
}

.language-option span::after {
    content: "";
    
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 100%;
    height: 2px;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;

    background-color: var(--off-white);
    transition: transform 0.3s ease;
}

.language-option span:hover {
    cursor: pointer;
    color: var(--off-white);
}

.language-option span:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* media query and mobile responsiveness */
@media only screen and (max-width: 940px) {
    header {
        font-size: var(--font-s);
    }

    form {
        min-width: 200px;
    }

    .left-menu {
        display: flex;
        gap: 15px;
    }

    .search-bar {
        margin: 0 20px;
        min-height: 35px;
        padding: 5px;
    }

    .search-bar img {
        height: 20px;
    }

    .right-menu {
        height: 40px;
    }

    #log-in, #sign-up {
        min-height: 40px;
        min-width: 100px;
        
        padding: 5px;
    }

    #lang-button {
        min-height: 40px;
        min-width: 40px;
    }

    #lang-button img {
        height: 20px;
    }

    .recommended {
        gap: 10px;
    }

    .recommended .section-title {
        font-size: var(--font-l);
    }

    .recommended-tags .tag {
        height: 28px;
        padding: 5px 10px;
    }

    .right-filters .filter {
        height: 28px;
        padding: 5px 10px;
    }

    .right-filters .filter img {
        height: 20px;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 24px;
        padding: 0 15px;
    }

    .bottom-content {
        padding-top: 10px;
    }

    .price-listing {
        padding-top: 10px;
    }

    .card-content .title {
        font-size: var(--font-m);
    }

    .card-content .description {
        font-size: var(--font-s);
    }

    .recommended-tags, .right-filters {
        flex-wrap: wrap;
        gap: 15px;
        font-size: var(--font-xs);
    }

    #udemy-logo {
        height: 40px;
        padding: 0;
    }
}

@media only screen and (max-width: 720px) {
    .left-menu {
        display: none;
    }

    .search-bar {
        margin: 0 20px 0 0;
        min-height: 35px;
        padding: 5px;
    }
}

@media only screen and (max-width: 640px) {
    form {
        min-width: 190px;
    }

    #log-in, #sign-up, #lang-button {
        display: none;
    }

    #accordion-button {
        display: inline-flex; 
        overflow: hidden;
        height: 40px;
        width: 40px;
    }
    
    .search-bar img {
        height: 20px;
    }
    
    .recommended .section-title {
        font-size: var(--font-m);
        align-self: center;
        text-align: center;
    }

    .recommended-tags {
        justify-content: center;
    }

    .right-filters {
        justify-content: center;
    }

    .filter-menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .recommended-tags .tag {
        min-height: 25px;
        padding: 5px 10px;
    }

    .right-filters .filter {
        min-height: 25px;
        padding: 5px 10px;
    }

    .right-filters .filter img {
        height: 18px;
    }

    footer {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    #teach-on-udemy {
        display: none;
    }
}