* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* color variables */
    /* background colors */
    --medium-grey: #1F222B;
    --dark-grey: #191A1F;
    --light-grey: #303746;

    /* colored accents */
    --purple: #6D78EB;
    --dark-purple: #464D8B;
    --light-purple: #8EA1FF;
    
    --white: #FEFFFF;
    --off-white: #C4C6C7;

    /* card image placeholder colors */
    --card-one: #DBEAFE;
    --card-two: #D1FAE5;
    --card-three: #FEE2E2;
    --card-four: #EDE9FE;
    --card-five: #FEF3C7;
    --card-six: #E0F2FE;

    /* font size variables */
    --font-xs: 12px;
    --font-s: 16px;
    --font-m: 18px;
    --font-l: 24px;
    --font-xl: 28px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-m);
    background: var(--dark-grey);
}

header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
    height: 90px;
    background-color: var(--medium-grey);
}

a {
    text-decoration: none;
}

/* proper alignment and position of logo */
#udemy-logo {
    display: flex;
    height: 45px;
    padding: 0px 20px;
}

/* left menu styling (explore, subscribe) */
.left-menu {
    display: flex;
    gap: 35px;
}

/* hover styling of navigation link text to the left of search bar */
.nav-link {
    position: relative;
    color: var(--purple);
    transition: 0.3s ease;
}

.nav-link::after {
    content: "";
    
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 100%;
    height: 2px;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;

    background-color: var(--purple);
    transition: transform 0.3s ease;
}

.nav-link:hover {
    color: var(--light-purple);
}

.nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* search bar styling */
form {
    margin-right: auto;
    flex: 0 1 1000px;
}

.search-bar {
    display: flex;
    align-items: center;
    
    height: 50px;
    margin: 0 40px;

    gap: 10px;
    padding: 10px;
    
    border: 1px solid var(--purple);
    border-radius: 100px;
}

.search-bar:hover {
    background-color: var(--light-grey);
}

.search-bar:focus-within {
    border: 1px solid var(--light-purple);
}

.search-bar input {
    font-family: inherit;
    font-size: var(--font-m);
    color: var(--purple);

    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.search-bar input::placeholder {
    color: var(--dark-purple);
    font-size: var(--font-xs);
}

.search-bar img {
    width: 30px;
}

/* proper spacing of buttons to the right of search bar */
.right-menu {
    display: flex;
    gap: 15px;
    padding-right: 30px;
}


/* adding button styling on header buttons */
.button {
    position: relative;
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--purple);
    border-radius: 10px;
    font-weight: 700;
    transition: 0.4s ease;
}

/* log in button hover */
#log-in {
    height: 50px;
    width: 120px;
    
    color: var(--purple);
    padding: 5px 20px;
}

#log-in:hover {
    background-color: var(--purple);
    color: var(--medium-grey);
}

/* sign up button hover */
#sign-up {
    height: 50px;
    width: 120px;

    background-color: var(--purple);
    color: var(--medium-grey);

    padding: 5px 20px;
}

#sign-up:hover {
    background-color: var(--medium-grey);
    color: var(--purple);
}

/* language button hover */
#lang-button {
    height: 50px;
    width: 50px;

    padding: 10px;
}

#lang-button:hover {
    background-color: var(--purple);
    color: var(--medium-grey);
}

.globe-grey, #lang-button:hover .globe-purple {
   display: none;
}

.globe-purple, #lang-button:hover .globe-grey {
   display: block;
}

/* recommendations section styling */
.recommended {
    color: var(--white);

    height: 170px;
    padding: 20px 0 30px 205px;

    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.section-title {
    font-size: var(--font-xl);
    color: var(--white);
}

.recommended-tags {
    font-size: var(--font-s);
    
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
}

.recommended-tags .tag {    
    height: 40px;
    padding: 6px 20px;
    
    border: 1px solid var(--light-grey);
    border-radius: 100px;
}

.recommended-tags .tag img {
    position: relative;
    top: 2px;
    right: 5px;
}

/* main content styling */
main {
    background-color: var(--medium-grey);
    width: 100%;
    height: 1000px;
}

/* filter content styling */
.filter-menu {
    color: var(--white);
    padding: 35px 205px;

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.right-filters {
    font-size: var(--font-s);
    
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
}

.right-filters .filter {    
    height: 40px;
    padding: 0 18px;
    
    border: 1px solid var(--dark-purple);
    border-radius: 100px;
}

.right-filters .filter img {
    position: relative;
    height: 25px;
    top: 6px;
    right: 6px;
}

.left-filter {
    height: 40px;
    padding: 7px 18px;

}

.left-filter img {
    position: relative;
    top: 2px;
}

/* card styling and positioning */
.cards {
    display: grid;
    height: 550px;

    grid-template-columns: repeat(auto-fit, minmax(400px, 480px));
    justify-content: center;
    gap: 32px;

    padding: 0px 205px;
}

.card {
    background-color: var(--dark-grey);
    color: var(--white);

    border: 1px solid var(--light-grey);
    border-radius: 20px;
}

.card-content {
    margin: 24px;
}

.card-image {
    height: 200px;
    width: 430px;
    
    background-color: var(white);
    border-radius: 10px;
}

.card-content .title {
    font-size: var(--font-l);
    font-weight: 700;
}

.card-content .description {
    font-size: var(--font-m);
    color: var(--off-white);

    padding-top: 3px;
}

.card-content .instructor {
    font-size: var(--font-xs);
    color: var(--off-white);

    padding-top: 8px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 10px;
    row-gap: 5px;
}

.tags .tag {
    height: 30px;
    font-size: var(--font-xs);
    color: var(--off-white);

    border: 1px solid var(--light-grey);
    border-radius: 10px;

    padding: 5px 7px;
}

.tags .tag img {
    position: relative;
    right: 2px;
    bottom: 1px;
    vertical-align: bottom;
}

.price-listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-new {
    font-size: var(--font-l);
    font-weight: 700;
}

.price-old {
    font-size: var(--font-m);
    color: var(--off-white);
    text-decoration: line-through;
}

.add-to-cart {
    color: var(--purple);
    padding: 5px 10px;
}