* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* background colors */
    --medium-grey: #1F222B;
    --dark-grey: #191A1F;
    --light-grey: #303746;

    /* colored accents */
    --purple: #6D78EB;
    --dark-purple: #464D8B;
    --white: #FEFFFF;

    /* card image placeholder colors */
    --card-one: #DBEAFE;
    --card-two: #D1FAE5;
    --card-three: #FEE2E2;
    --card-four: #EDE9FE;
    --card-five: #FEF3C7;
    --card-six: #E0F2FE;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

    background: var(--dark-grey);
}

header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
    
    height: 90px;
    background-color: var(--medium-grey);
}

a {
    text-decoration: none;
    color: var(--purple);
    align-self: center;
}

.search-bar {
    font-size: 12px;
    color: var(--dark-purple);

    height: 50px;
    width: 1000px;

    border: 1px solid var(--purple);
    border-radius: 100px;
    padding-left: 10px;
    margin-right: 200px;

    display: inline-flex; 
    flex-direction: row;
    justify-content: left;
    vertical-align: middle;
    align-self: center;
}

.search-bar span {
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.search-bar img {
    width: 35px;
    padding-right: 5px;
}

.button {
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

#udemy-logo {
    height: 45px;
    align-self: center;
    margin-left: 20px;
}

#log-in {
    height: 50px;
    width: 120px;

    border: 1px solid var(--purple);
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 700;
}

#sign-up {
    height: 50px;
    width: 120px;

    background-color: var(--purple);
    color: var(--medium-grey);

    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 700;
}

#lang-button {
    height: 50px;
    width: 50px;

    border: 1px solid var(--purple);
    border-radius: 10px;
    padding: 10px;
    margin-right: 30px;
    font-weight: 700;
}
